In [18]:
import pandas as pd

In [19]:
pirates = pd.read_csv("pirates_of_caribbean.csv")
pirates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238281 entries, 0 to 238280
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      238281 non-null  object
 1   datetime  238281 non-null  object
 2   SACTMIN   7497 non-null    float64
 3   SPOSTMIN  230784 non-null  float64
dtypes: float64(2), object(2)
memory usage: 7.3+ MB

In [20]:
pirates.head()

         date             datetime  SACTMIN  SPOSTMIN
0  01/01/2015  2015-01-01 08:27:58      NaN    -999.0
1  01/01/2015  2015-01-01 08:56:55      NaN    -999.0
2  01/01/2015  2015-01-01 08:57:38      NaN    -999.0
3  01/01/2015  2015-01-01 08:58:34      NaN    -999.0
4  01/01/2015  2015-01-01 09:24:55      NaN    -999.0

In [21]:
pirates.isnull().sum()

date             0
datetime         0
SACTMIN     230784
SPOSTMIN      7497
dtype: int64

In [22]:
pirates.drop('SACTMIN', axis=1, inplace = True)

In [32]:
pirates.head()

          date             datetime  SPOSTMIN
5   01/01/2015  2015-01-01 10:19:36      10.0
7   01/01/2015  2015-01-01 10:29:13      15.0
8   01/01/2015  2015-01-01 10:36:39      25.0
9   01/01/2015  2015-01-01 10:37:13      25.0
10  01/01/2015  2015-01-01 10:44:13      35.0

In [29]:
pirates = pirates[pirates.SPOSTMIN != -999.0]
pirates = pirates[pirates.SPOSTMIN != 0]
pirates = pirates.dropna()

In [30]:
pirates["SPOSTMIN"].value_counts()

5.0      32587
10.0     26746
30.0     19188
25.0     17958
20.0     17604
15.0     17131
35.0     16959
40.0     16788
45.0     15350
50.0     11120
55.0      7022
60.0      5623
65.0      3136
70.0      1751
75.0      1204
80.0       615
85.0       330
90.0       266
95.0       170
105.0       60
110.0       22
120.0       20
115.0       10
125.0        6
100.0        4
130.0        1
180.0        1
135.0        1
185.0        1
Name: SPOSTMIN, dtype: int64

In [33]:
pirates.head()

          date             datetime  SPOSTMIN
5   01/01/2015  2015-01-01 10:19:36      10.0
7   01/01/2015  2015-01-01 10:29:13      15.0
8   01/01/2015  2015-01-01 10:36:39      25.0
9   01/01/2015  2015-01-01 10:37:13      25.0
10  01/01/2015  2015-01-01 10:44:13      35.0

In [34]:
pirates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211674 entries, 5 to 238280
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      211674 non-null  object
 1   datetime  211674 non-null  object
 2   SPOSTMIN  211674 non-null  float64
dtypes: float64(1), object(2)
memory usage: 6.5+ MB